<!--<div class="heading-section"></div>-->

<div class="container">
  <div class="add-todo-box">
    <div class="header">
      <button routerLink="menu">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
      </button>
    </div>
    <!--form textarea to add tasks-->
    <div>
      <!--tasks button-->
      <div class="task-button">
        <p>tasks</p>
        <button routerLink="add">
          <i class="fa fa-plus" aria-hidden="true"></i> ADD TASK
        </button>
      </div>
      <div class="card text-center">
        <div [ngStyle]="{ 'font-size': '20px' }" class="card-content">
          {{ loading }}
        </div>
      </div>

      <div class="card my-3 mx-3" *ngFor="let item of data">
        <div class="card-body">
          <input type="hidden" #itemID value="{{ item._id }}" />
          <h6>{{ item.name }}</h6>
          <p>
            <span>{{ item.description }}</span>
            <input
              disabled
              type="checkbox"
              checked
              *ngIf="item.checked === true"
            />
            <input disabled type="checkbox" *ngIf="item.checked === false" />
          </p>
          <p>
            <input disabled type="date" value="{{ item.date.split('T')[0] }}" />
          </p>
          <button class="btn btn-primary" (click)="goto(itemID.value)">
            Go to Page
          </button>
          <button class="btn btn-danger" (click)="delete(itemID.value)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
