<div class="container">
  <div class="header">
    <button class="back">
      <a class="back" routerLink=""
        ><i class="fa fa-angle-left" aria-hidden="true"></i
      ></a>
    </button>
    <h6>Add a Task</h6>
  </div>
  <div class="add-task">
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Enter Task Heading"
    />
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Task:</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="Enter Task..."
        rows="3"
      ></textarea>
    </div>
    <button class="save">Save</button>
  </div>
</div>
