.container {
  max-width: 800px;
  max-height: 90vh;
  /**
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  background: #3494E6;  
  background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  
  background: linear-gradient(to left, #EC6EAD, #3494E6);
}
.add-task {
  padding: 32px;
 
}
.nav {
  color: rgba(37, 6, 122, 0.897);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba( 255, 251, 254, 0.80 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.optional-data * {
  display: block;
  width: 100%;
}
.back {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(37, 6, 122, 0.897);
  background-color: #fff;
  text-decoration: none;
}
h6{
  color: rgba(37, 6, 122, 0.897);
}
.form-control{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.form-label {
  color: #fff;
  font-size: 20pt;
}
.date{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.save {
  color: rgba(37, 6, 122, 0.897);
  border-radius: 12px;
  border: 2px solid #fff;
  padding: 5px 20px;
  transition: all .5s;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}
.save:active{
  transform: scale(0.8);
  box-shadow: 0px 6px 6px rgba(0,0,0,0.1);
}
.save:hover {
  box-shadow: #fff 100px 0 0 2px inset;
  color: rgba(37, 6, 122, 0.897);
  border: 3px solid white; 
}

textarea {
  border-radius: 20px;
}
